.card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 594.66px;
  width: 516.68px;
}

.container .logo-text{
  color: #555555;
  font: Black 35px/53px Poppins;
  margin-top: 100px;
}

.container .logo-img{
 
top: 207px;
left: 962px;
width: 216px;
height: 212px;
margin-right: 742.6px;

}
.container .email label{
  
  margin-right: 500px;
}
 .container .password label{

  margin-right: 500px;

 }

 .container .checkbox{
   margin-right: 300px;
   
 }
.container .button{

  padding-top: 10px;
}
 .container .button .btn{

  background-color: black;
  width: 450px;
  
 }
 .fp{
    margin-top: 10px;
    color:black;
 }